<div class="container">
    <div ng-if="$ctrl.isUser">
        <ul class="list-group">
            <li class="list-group-item">First Name: {{ $ctrl.user.firstName }}</li>
            <li class="list-group-item">Last Name: {{ $ctrl.user.lastName }}</li>
            <li class="list-group-item">Email: {{ $ctrl.user.email }}</li>
            <li class="list-group-item">Phone: {{ $ctrl.user.phone }}</li>
            <li class="list-group-item">Favorite dish: {{ $ctrl.user.dish.name }}</li>
            <li class="list-group-item">
                <img ng-if="$ctrl.user.dish.image_present"
                     ng-src="{{$ctrl.basePath}}/images/{{ $ctrl.user.dish.short_name }}.jpg"
                     alt="">
            </li>
            <li class="list-group-item">{{ $ctrl.user.dish.description }}</li>
        </ul>
    </div>
    <div ng-if="$ctrl.isNoUser">
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </div>
</div>
